
* {
    font-family: Georgia, sans-serif;
}

body {
    background-color: aliceblue;
}

nav {
    display: block;
    float: left;
    width: 10%;
    height: 788px;
    margin: 10px;
    border: 1px solid blue;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    position: absolute;
    background-color: lightcyan;
}

nav a {
    color: coral;
    display: block;
    text-align: center;
    padding: 30px; /*后面要加菜单就改这个，别乱动别的。*/
    background-color: lightblue;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

nav a:hover {
    background-color: lightcoral;
    color: blue;
}

a, a:visited {
    font-size: 20px;
    font-weight: bolder;
    font-style: normal;
    text-decoration: none;
}

#content {
    position: relative;
    display: block;
    margin: 10px;
    float: right;
    width: 86%;
    border: 1px solid blue;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#content iframe {
    height: 787px;
    width: 1200px;
    border: none;
}

.container {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
